.faq {
	@include fluid(margin-top, 30px, 100px);
	@include fluid(margin-bottom, 30px, 100px);

	&:has(.faq__wrapper) {
		margin-left: 15px;
		margin-right: 15px;

		.container {
			width: 100%;
		}
	}

	&__wrapper {
		position: relative;
		@include fluid(max-width, 942px, 1660px);
		@include fluid(padding-top, 20px, 55px);
		@include fluid(padding-bottom, 20px, 55px);
		@include fluid(padding-left, 10px, 40px);
		@include fluid(padding-right, 10px, 40px);
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		background-color: #fff4d5;
		overflow: hidden;
	}

	&--gold {
		.faq {
			&__inner {
				padding: 0;

				&-box {
					border-top: none;
					padding-top: 0;
					gap: 2px;

					&::after,
					&::before {
						content: none;
					}
				}
			}

			&__item {
				border-bottom: none;
				padding: 0;

				&::after,
				&::before {
					content: none;
				}

				&-title {
					position: relative;
					border-radius: 5px;
					background-color: #d9ba5b;
					@include fluid(padding-top, 15px, 25px);
					@include fluid(padding-bottom, 15px, 25px);
					@include fluid(padding-left, 10px, 20px);
					@include fluid(padding-right, 40px, 60px);
					color: #fff;
					font-weight: 400;

                    &::before {
                        content: none;
                    }

					&::after {
						@include fluid(top, 15px, 25px);
						right: 20px;
						@include fluid(width, 32px, 48px);
						@include fluid(height, 32px, 48px);
						background-image: url('../../assets/images/icons/arrow-right-white.svg');
						transform: rotate(90deg);
						transition: transform 0.23s ease-in-out;
                        opacity: 1;
					}
                    
					&.accordion--active {
                        &::after {
                            opacity: 1;
							transform: rotate(0);
						}
					}
				}
			}

			&__cards {
				@include fluid(padding-top, 20px, 32px);
				@include fluid(padding-bottom, 20px, 32px);
				@include fluid(padding-left, 20px, 52px);
				@include fluid(padding-right, 20px, 52px);
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 10px;
				background-color: #fff4d5;

				&-item {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					@include fluid(gap, 15px, 20px);
					@include fluid(padding-bottom, 10px, 20px);
					@include fluid(padding-left, 10px, 20px);
					@include fluid(padding-right, 10px, 20px);
					border-bottom: 1px solid #d9ba5b;
					@include fluid(min-height, 200px, 232px);
				}

				&-title {
					@include fluid(font-size, 18px, 24px);
					font-weight: 700;
				}

				&-num {
					@include fluid(font-size, 16px, 22px);
					font-weight: 700;
					color: #d9ba5b;
				}
			}
		}
	}

	&--blue {
		@include fluid(margin-top, 30px, 100px);
		@include fluid(margin-bottom, 30px, 100px);
		margin-left: 15px;
		margin-right: 15px;

		.container {
			width: 100%;
		}

		.faq {
			&__wrapper {
				position: relative;
				@include fluid(max-width, 942px, 1660px);
				@include fluid(padding-top, 30px, 55px);
				@include fluid(padding-bottom, 30px, 55px);
				@include fluid(padding-left, 10px, 55px);
				@include fluid(padding-right, 10px, 55px);
				margin-left: auto;
				margin-right: auto;
				border-radius: 10px;
				background-color: #fff4d5;
				overflow: hidden;
			}

			&__inner {
				padding: 0;

				&-box {
					border-top: none;
					padding-top: 0;
					gap: 2px;

					&::after,
					&::before {
						content: none;
					}
				}
			}

			&__item {
				border-bottom: none;
				padding: 0;

				&::after,
				&::before {
					content: none;
				}

				&-title {
					position: relative;
					border-radius: 5px;
					background-color: #2a275f;
					@include fluid(padding-top, 15px, 25px);
					@include fluid(padding-bottom, 15px, 25px);
					@include fluid(padding-left, 10px, 20px);
					@include fluid(padding-right, 40px, 60px);
					color: #fff;
					font-weight: 500;

                    &::after {
                        content: none;
                    }

					&::before {
						@include fluid(top, 15px, 25px);
						right: 20px;
						@include fluid(width, 32px, 48px);
						@include fluid(height, 32px, 48px);
						background-image: url('../../assets/images/icons/arrow-right-white.svg');
						transform: rotate(90deg);
						transition: transform 0.23s ease-in-out;
					}

					&.accordion--active {
						&::before {
							transform: rotate(0);
						}
					}
				}
			}

			&__cards {
				@include fluid(margin-top, 20px, 30px);
				@include fluid(margin-bottom, 20px, 50px);
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				@include fluid(column-gap, 12px, 20px);
				@include fluid(row-gap, 15px, 30px);

				&-item {
					display: flex;
					flex-direction: column;
					@include fluid(gap, 15px, 20px);
				}

				&-box {
					position: relative;
					display: flex;
					align-items: end;
					background-color: #2a275f;
					border-radius: 5px;
					overflow: hidden;
					@include fluid(height, 200px, 267px);
				}

				&-logo {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 50%;
					height: 80%;
				}

				&-img {
					position: relative;
					z-index: 1;
					width: -webkit-fit-content;
					width: -moz-fit-content;
					width: fit-content;
					margin-top: auto;
					margin-left: auto;
				}

				&-title {
					@include fluid(font-size, 24px, 36px);
					font-weight: 700;
				}

				&-text {
					@include fluid(font-size, 14px, 18px);
				}

				.btn {
					margin-top: auto;
				}
			}
		}
	}

	&--alt {
		.faq {
			&__inner {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&__inner {
		@include fluid(padding-left, 20px, 53px);
		@include fluid(padding-right, 20px, 53px);

		&-box {
			position: relative;
			display: flex;
			flex-direction: column;
			@include fluid(gap, 20px, 35px);
			padding-top: 20px;
			border-top: 1px solid #d9ba5b;

			&::after,
			&::before {
				content: '';
				position: absolute;
				top: -3px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #d9ba5b;
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}
	}

	&__item {
		position: relative;
		padding-right: 60px;
		padding-bottom: 20px;
		border-bottom: 1px solid #d9ba5b;

		&::after,
		&::before {
			content: '';
			position: absolute;
			bottom: -3px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #d9ba5b;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}

		&-hidden {
			display: flex;
			flex-direction: column;
			gap: 16px;
			margin-top: 25px;
		}

		&-title {
			@include fluid(font-size, 20px, 36px);
			font-weight: 700;
			cursor: pointer;

			&::before,
			&::after {
				content: '';
				position: absolute;
				@include fluid(top, -2px, 0px);
				right: 0;
				@include fluid(width, 32px, 48px);
				@include fluid(height, 32px, 48px);
				background-repeat: no-repeat;
				background-size: contain;
				transition: opacity 0.23s ease-in-out;
			}

			&::after {
				background-image: url('../../assets/images/icons/plus-circle.svg');
			}

			&::before {
				background-image: url('../../assets/images/icons/minus-circle.svg');
			}

			&.accordion--active {
				&::after {
					opacity: 0;
				}

				&::before {
					opacity: 1;
				}
			}
		}

		&-text {
			max-width: 1000px;
			@include fluid(font-size, 14px, 18px);
		}
	}

    &__text {
        &:has(+*) {
            @include fluid(margin-bottom, 12px, 20px);
        }

        &:has(+.faq__inner-box) {
            @include fluid(margin-bottom, 20px, 50px);
        }
    }
}

@media (max-width: 992px) {
	.faq {
		margin-top: 110px;

		&:has(.faq__wrapper) {
			margin-top: 30px;
			margin-left: 15px;
			margin-right: 15px;

			.container {
				width: 100%;
			}
		}

		&--gold {
			.faq {
				&__cards {
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}

		&--blue {
			.faq {
				&__wrapper {
					max-width: 700px;
				}

				&__cards {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		&__wrapper {
			max-width: 700px;
		}
	}
}

@media (max-width: 768px) {
	.faq {
		&--gold {
			.faq {
				&__cards {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		&--blue {
			.faq {
				&__wrapper {
					max-width: 520px;
				}

				&__cards {
					grid-template-columns: 1fr;
				}
			}
		}

		&__wrapper {
			max-width: 520px;
		}
	}
}

@media (max-width: 576px) {
	.faq {
		&--gold {
			.faq {
				&__cards {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}
