.faq {
	@include fluid(margin-top, 30px, 100px);
	@include fluid(margin-bottom, 30px, 100px);

	&.faq--price {
		margin: 0;
	}

	&:has(.faq__wrapper) {
		margin-left: 15px;
		margin-right: 15px;

		.container {
			width: 100%;
		}
	}

	&__wrapper {
		position: relative;
		@include fluid(max-width, 942px, 1660px);
		@include fluid(padding-top, 20px, 55px);
		@include fluid(padding-bottom, 20px, 55px);
		@include fluid(padding-left, 10px, 40px);
		@include fluid(padding-right, 10px, 40px);
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		background-color: #fff4d5;
		overflow: hidden;
	}

	&--gold {
		&.faq--price {
			.faq {
				&__item {
					&-title {
						@include fluid(padding-top, 10px, 15px);
						@include fluid(padding-bottom, 10px, 15px);
						@include fluid(padding-left, 15px, 20px);
						padding-right: 50px;

						&::after {
							@include fluid(top, 8px, 18px);
						}
					}
				}
			}
		}

		.faq {
			&__inner {
				padding: 0;

				&-box {
					border-top: none;
					padding-top: 0;
					gap: 2px;

					&::after,
					&::before {
						content: none;
					}
				}
			}

			&__item {
				border-bottom: none;
				padding: 0;

				&::after,
				&::before {
					content: none;
				}

				&:first-child {
					.faq__item-title {
						border-radius: 8px 8px 0 0;
					}
				}

				&:last-child {
					.faq__item-title {
						border-radius: 0 0 8px 8px;
					}
				}

				&-title {
					position: relative;
					background-color: #d9ba5b;
					@include fluid(padding-top, 15px, 25px);
					@include fluid(padding-bottom, 15px, 25px);
					@include fluid(padding-left, 10px, 20px);
					@include fluid(padding-right, 40px, 60px);
					color: #fff;
					font-weight: 400;

					&::before {
						content: none;
					}

					&::after {
						@include fluid(top, 15px, 25px);
						right: 20px;
						@include fluid(width, 32px, 48px);
						@include fluid(height, 32px, 48px);
						background-image: url('../../assets/images/icons/arrow-right-white.svg');
						transform: rotate(90deg);
						transition: transform 0.23s ease-in-out;
						opacity: 1;
					}

					&.accordion--active {
						&::after {
							opacity: 1;
							transform: rotate(0);
						}
					}
				}
			}

			&__cards {
				@include fluid(padding-top, 20px, 32px);
				@include fluid(padding-bottom, 20px, 32px);
				@include fluid(padding-left, 20px, 52px);
				@include fluid(padding-right, 20px, 52px);
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 10px;
				background-color: #fff4d5;

				&-item {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					@include fluid(gap, 15px, 20px);
					@include fluid(padding-bottom, 10px, 20px);
					@include fluid(padding-left, 10px, 20px);
					@include fluid(padding-right, 10px, 20px);
					border-bottom: 1px solid #d9ba5b;
					@include fluid(min-height, 200px, 232px);
				}

				&-title {
					color: #2a275f;
					@include fluid(font-size, 18px, 24px);
					font-weight: 700;
					transition: color 0.23s ease-in-out;
				}

				a.faq__cards-title {
					&:hover {
						color: #d9ba5b;
					}
				}

				&-num {
					@include fluid(font-size, 16px, 22px);
					font-weight: 700;
					color: #d9ba5b;
				}
			}

			&__priceAlt {
				display: flex;
				flex-direction: column;
				gap: 2px;
				@include fluid(padding-right, 30px, 55px);
				@include fluid(padding-left, 15px, 30px);
				@include fluid(padding-top, 20px, 32px);
				background-color: #fff4d5;

				&--alt {
					.faq__priceAlt {
						&-num {
							min-width: 69px;

							&:has(+ *) {
								margin-left: auto;
							}

							+ * {
								@include fluid(margin-left, 35px, 130px);
								@include fluid(margin-right, 0px, 31px);
							}
						}
					}
				}

				&-item {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 10px;
					@include fluid(padding-top, 20px, 32px);
					@include fluid(padding-bottom, 20px, 32px);
					border-top: 1px solid #d9ba5b;

					&::after,
					&::before {
						content: '';
						position: absolute;
						top: -3px;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background-color: #d9ba5b;
					}

					&::before {
						left: 0;
					}

					&::after {
						right: 0;
					}
				}

				&-btns {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					@include fluid(gap, 12px, 32px);

					.btn {
						min-width: 290px;
					}
				}
			}
		}
	}

	&--blue {
		@include fluid(margin-top, 30px, 100px);
		@include fluid(margin-bottom, 30px, 100px);
		margin-left: 15px;
		margin-right: 15px;

		.container {
			width: 100%;
		}

		.faq {
			&__wrapper {
				position: relative;
				@include fluid(max-width, 942px, 1660px);
				@include fluid(padding-top, 30px, 55px);
				@include fluid(padding-bottom, 30px, 55px);
				@include fluid(padding-left, 10px, 55px);
				@include fluid(padding-right, 10px, 55px);
				margin-left: auto;
				margin-right: auto;
				border-radius: 10px;
				background-color: #fff4d5;
				overflow: hidden;
			}

			&__inner {
				padding: 0;

				&-box {
					border-top: none;
					padding-top: 0;
					gap: 2px;

					&::after,
					&::before {
						content: none;
					}
				}
			}

			&__item {
				border-bottom: none;
				padding: 0;

				&::after,
				&::before {
					content: none;
				}

				&-title {
					position: relative;
					border-radius: 5px;
					background-color: #2a275f;
					@include fluid(padding-top, 15px, 25px);
					@include fluid(padding-bottom, 15px, 25px);
					@include fluid(padding-left, 10px, 20px);
					@include fluid(padding-right, 40px, 60px);
					color: #fff;
					font-weight: 500;

					&::after {
						content: none;
					}

					&::before {
						@include fluid(top, 15px, 25px);
						right: 20px;
						@include fluid(width, 32px, 48px);
						@include fluid(height, 32px, 48px);
						background-image: url('../../assets/images/icons/arrow-right-white.svg');
						transform: rotate(90deg);
						transition: transform 0.23s ease-in-out;
					}

					&.accordion--active {
						&::before {
							transform: rotate(0);
						}
					}
				}
			}

			&__cards {
				@include fluid(margin-top, 20px, 30px);
				@include fluid(margin-bottom, 20px, 50px);
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				@include fluid(column-gap, 12px, 20px);
				@include fluid(row-gap, 15px, 30px);

				&-item {
					display: flex;
					flex-direction: column;
					@include fluid(gap, 15px, 20px);
				}

				&-box {
					position: relative;
					display: flex;
					align-items: end;
					background-color: #2a275f;
					border-radius: 5px;
					overflow: hidden;
					@include fluid(height, 200px, 267px);
				}

				&-logo {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 50%;
					height: 80%;
				}

				&-img {
					position: relative;
					z-index: 1;
					width: -webkit-fit-content;
					width: -moz-fit-content;
					width: fit-content;
					margin-top: auto;
					margin-left: auto;
				}

				&-title {
					@include fluid(font-size, 24px, 36px);
					font-weight: 700;
				}

				&-text {
					@include fluid(font-size, 14px, 18px);
				}

				.btn {
					margin-top: auto;
				}
			}
		}

		.video {
			@include fluid(margin-top, 16px, 30px);
			@include fluid(margin-bottom, 16px, 30px);
		}
	}

	&--alt {
		.faq {
			&__inner {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&__inner {
		@include fluid(padding-left, 20px, 53px);
		@include fluid(padding-right, 20px, 53px);

		&-box {
			position: relative;
			display: flex;
			flex-direction: column;
			@include fluid(gap, 20px, 35px);
			padding-top: 20px;
			border-top: 1px solid #d9ba5b;

			&::after,
			&::before {
				content: '';
				position: absolute;
				top: -3px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #d9ba5b;
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}
	}

	&__item {
		position: relative;
		padding-right: 60px;
		padding-bottom: 20px;
		border-bottom: 1px solid #d9ba5b;

		&:has(.faq__block) {
			background-color: #fff4d5;
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			bottom: -3px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #d9ba5b;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}

		&-hidden {
			display: flex;
			flex-direction: column;
			gap: 16px;
			margin-top: 25px;
		}

		&-title {
			@include fluid(font-size, 20px, 36px);
			font-weight: 700;
			cursor: pointer;

			&::before,
			&::after {
				content: '';
				position: absolute;
				@include fluid(top, -2px, 0px);
				right: 0;
				@include fluid(width, 32px, 48px);
				@include fluid(height, 32px, 48px);
				background-repeat: no-repeat;
				background-size: contain;
				transition: opacity 0.23s ease-in-out;
			}

			&::after {
				background-image: url('../../assets/images/icons/plus-circle.svg');
			}

			&::before {
				background-image: url('../../assets/images/icons/minus-circle.svg');
			}

			&.accordion--active {
				&::after {
					opacity: 0;
				}

				&::before {
					opacity: 1;
				}
			}
		}

		&-text {
			max-width: 1000px;
			@include fluid(font-size, 14px, 18px);
		}

		&-box {
			position: relative;
			background-color: #fff4d5;
		}

		&-top {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 35px;
			@include fluid(padding-right, 30px, 55px);
			@include fluid(padding-left, 15px, 30px);
			@include fluid(padding-top, 20px, 32px);
			@include fluid(padding-bottom, 20px, 32px);
			background-color: #fff4d5;
		}
	}

	&__text {
		&:has(+ *) {
			@include fluid(margin-bottom, 12px, 20px);
		}

		&:has(+ .faq__inner-box) {
			@include fluid(margin-bottom, 20px, 50px);
		}
	}

	&__price {
		display: flex;
		flex-direction: column;
		gap: 2px;
		@include fluid(padding-right, 30px, 55px);
		@include fluid(padding-left, 15px, 30px);

		&-top {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@include fluid(gap, 25px, 35px);
			border-bottom: 1px solid #d9ba5b;
			@include fluid(padding-top, 12px, 20px);
			@include fluid(padding-bottom, 12px, 20px);
		}

		&-text {
			@include fluid(font-size, 16px, 18px);
		}

		&-box {
			display: grid;
			grid-template-columns: 1fr 0.28fr 0.1fr;
			border-bottom: 1px solid #d9ba5b;
			@include fluid(padding-top, 12px, 20px);
			@include fluid(padding-bottom, 12px, 20px);
		}

		&-title {
			font-weight: 500;
			text-wrap: balance;
		}

		&-num {
			color: #d9ba5b;
			font-weight: 700;
		}
	}

	&__swiper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		.faq__cards {
			display: block;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.arrow {
		width: 96%;
		margin-left: auto;
		margin-right: auto;

		&__prev {
			left: 0;
		}

		&__next {
			right: 0;
		}
	}

	&__block {
		background-color: #fff4d5;
		@include fluid(padding-top, 20px, 52px);
		@include fluid(padding-bottom, 20px, 52px);
		@include fluid(padding-left, 20px, 52px);
		@include fluid(padding-right, 20px, 52px);

		&:has(+ .faq__cards) {
			@include fluid(padding-bottom, 0px, 10px);
		}

		&-img {
			border-radius: 10px;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			height: auto;
			float: right;
			@include fluid(height, 380px, 416px);
			@include fluid(margin-left, 12px, 25px);
			@include fluid(margin-bottom, 12px, 25px);
		}

		*:has(+ *) {
			@include fluid(margin-bottom, 20px, 40px);
		}

		&-text {
			&--accent {
				font-weight: 700;
				color: #d9ba5b;
				@include fluid(font-size, 18px, 32px);
			}

			&:has(+ .faq__block-text) {
				@include fluid(margin-bottom, 12px, 20px);
			}

			strong {
				display: block;
			}
		}

		.faq__cards {
			padding: 0;
		}
	}
}

@media (max-width: 992px) {
	.faq {
		margin-top: 110px;

		&:has(.faq__wrapper) {
			margin-top: 30px;
			margin-left: 15px;
			margin-right: 15px;

			.container {
				width: 100%;
			}
		}

		&--gold {
			.faq {
				&__cards {
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}

		&--blue {
			.faq {
				&__wrapper {
					max-width: 700px;
				}

				&__cards {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		&__wrapper {
			max-width: 700px;
		}

		&__swiper {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	.faq {
		&--gold {
			.faq {
				&__cards {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		&--blue {
			.faq {
				&__wrapper {
					max-width: 520px;
				}

				&__cards {
					grid-template-columns: 1fr;
				}
			}
		}

		&__wrapper {
			max-width: 520px;
		}

		&__price {
			overflow-x: auto;
			max-width: 100%;

			&-item {
				min-width: 615px;
			}

			&-box {
				grid-template-columns: 1fr 0.4fr 0.1fr;
			}
		}

		&__block {
			&-img {
				width: 100%;
				height: auto;
				float: unset;
			}
		}
	}
}

@media (max-width: 576px) {
	.faq {
		&--gold {
			.faq {
				&__cards {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}
