.faq {
  @include fluid(margin-top, 30px, 75px);
  @include fluid(margin-bottom, 30px, 75px);

  &--alt {
    .faq {
      &__inner {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__inner {
    @include fluid(padding-left, 20px, 53px);
    @include fluid(padding-right, 20px, 53px);

    &-box {
      position: relative;
      display: flex;
      flex-direction: column;
      @include fluid(gap, 20px, 35px);
      padding-top: 20px;
      border-top: 1px solid #D9BA5B;

      &::after,
      &::before {
        content: '';
        position: absolute;
        top: -3px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #D9BA5B;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  &__item {
    position: relative;
    padding-right: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D9BA5B;

    &::after,
    &::before {
      content: '';
      position: absolute;
      bottom: -3px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #D9BA5B;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &-hidden {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 25px;
    }

    &-title {
      @include fluid(font-size, 20px, 36px);
      font-weight: 700;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-70%);
        width: 48px;
        height: 48px;
        background-image: url('../../assets/images/icons/plus-circle.svg');
        background-repeat: no-repeat;
        background-size: contain
      }
    }

    &-text {
      max-width: 1000px;
      @include fluid(font-size, 14px, 18px);
    }
  }
}

@media(max-width: 992px) {
  .faq {
    margin-top: 110px;
  }
}