.logo {
  &__img {
    @include fluid(height, 47px, 67px);
    -o-object-fit: contain;
    object-fit: contain;

    img {
      @include fluid(height, 47px, 67px);
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
}