.menu {
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__item {
		position: relative;

		&--hidden {
			display: none;
		}

		&:has(.menu__item-dropdown:hover) {
			.menu__link {
				color: #d9ba5b;
			}
		}

		.accordionHover__content--pos {
			top: calc(100% + 10px);
			left: 50%;
			transform: translateX(-50%);
			min-width: 100%;
		}

		&-dropdown {
			display: flex;
			flex-direction: column;
			gap: 10px;
			background-color: #fff;
			border-radius: 10px;
			padding: 13px;
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
			margin: 12px 15px 15px;

			&::after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: -8px;
				border: 8px solid transparent;
				border-bottom: 12px solid #fff;
			}

			&__link {
				white-space: nowrap;
				@include fluid(font-size, 12px, 14px);
				color: #2a275f;
			}
		}
	}

	&__link {
		padding-top: 2px;
		padding-bottom: 2px;
		@include fluid(padding-left, 10px, 15px);
		@include fluid(padding-right, 10px, 15px);
		@include fluid(font-size, 14px, 18px);
		color: #fff;
		transition: color 0.23s ease-in-out, background-color 0.23s ease-in-out, border-radius 0.23s ease-in-out;

		&:hover {
			color: #d9ba5b;
		}

		&.accordion {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-50%);
				width: 16px;
				height: 9px;
				background-image: url('../../assets/images/icons/arrow-bot.svg');
				background-repeat: no-repeat;
				background-size: contain;
				transition: transform 0.23s ease-in-out;
			}

			&--active {
				background-color: #fff;
				border-radius: 10px;

				&::after {
					transform: rotate(90deg) translate(-35%, 25%);
				}
			}
		}
	}

	&__dropdown {
		display: flex;
		flex-direction: column;

		&-link {
			@include fluid(font-size, 14px, 18px);
			line-height: 24px;
			text-align: right;
			color: #2a275f;
		}
	}
}

@media (max-width: 1200px) {
	.menu {
		position: fixed;
		top: 91px;
		left: 0;
		width: 100vw;
		height: calc(100vh - 91px);
		transform: translateX(-200%);
		flex-direction: column;
		padding: 10px 20px;
		background-color: #fff4d5;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: transform 0.23s ease-in-out, opacity 0.23s ease-in-out, visibility 0.23s ease-in-out,
			z-index 0.23s ease-in-out;
		overflow-y: auto;

		&__list {
			flex-direction: column;
			align-items: flex-end;
			max-width: 702px;
			margin-left: auto;
			margin-right: auto;
			overflow: auto;
		}

		&--active {
			opacity: 1;
			visibility: visible;
			z-index: 3;
			transform: translateX(0%);
			transition: transform 0.23s ease-in-out, opacity 0.23s ease-in-out, visibility 0.23s ease-in-out,
				z-index 0.23s ease-in-out;
			justify-content: unset;
		}

		&__item {
			width: 100%;

			&--hidden {
				display: flex;
				flex-direction: column;
				justify-content: end;
				align-items: end;

				.search {
					margin-left: auto;
				}

				.phone {
					margin-left: unset;
				}

				.btn {
					display: block;
				}

				.header__address {
					position: relative;
					display: flex;
					flex-direction: column;
					padding-left: 40px;
					color: #2a275f;

					&-city__icon {
						position: absolute;
						left: 0;
						top: 0;
					}

					&-work__text {
						color: #2a275f;
					}

					&-text {
						a {
							color: #2a275f;
						}
					}
				}
			}

			&.accordionHover {
				display: none;
			}
		}

		&__link {
			display: block;
			width: 100%;
			padding: 10px 20px;
			text-align: right;
			color: #2a275f;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			border-bottom: 1px solid #d9ba5b;

			&:hover {
				color: #2a275f;
			}
		}
	}
}
