.price {
	@include fluid(margin-top, 30px, 100px);
	@include fluid(margin-bottom, 30px, 100px);
	margin-left: 15px;
	margin-right: 15px;

	.container {
		width: 100%;
	}

	&__wrapper {
		position: relative;
		@include fluid(max-width, 942px, 1660px);
		@include fluid(padding-top, 20px, 55px);
		@include fluid(padding-bottom, 20px, 55px);
		@include fluid(padding-left, 10px, 40px);
		@include fluid(padding-right, 10px, 40px);
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		background-color: #fff4d5;
		// overflow: hidden;
	}

	&__inner {
		position: relative;
		display: grid;
		grid-template-columns: 370px 1fr;
		@include fluid(gap, 12px, 20px);
	}

	&__aside {
		position: -webkit-sticky;
		position: sticky;
		top: 100px;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 4px;

		&-box {
			display: flex;
			flex-direction: column;
			gap: 12px;
			border-radius: 8px;
			background-color: #d9ba5b;
			padding: 8px;
			max-height: 465px;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 20px;
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				border: 7px solid transparent;
				background-clip: padding-box;
				border-radius: 9999px;
				background-color: #fff;
			}

			&::-webkit-scrollbar-track {
				margin: 5px;
				background: 0 0;
			}
		}

		&-link {
			display: block;
			color: #fff;
			padding: 4px 8px;
			border-radius: 8px;
			transition: background-color 0.23s ease-in-out;

			&:hover {
				color: #fff;
				background-color: rgba(255, 244, 213, 0.48);
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		@include fluid(gap, 20px, 35px);
	}
}

@media (max-width: 992px) {
	.price {
		&__wrapper {
			max-width: 700px;
		}

		&__inner {
			grid-template-columns: 100%;
		}

		&__aside {
			position: static;
		}
	}
}

@media (max-width: 768px) {
	.price {
		&__wrapper {
			max-width: 520px;
		}
	}
}
