.reviews {
  @include fluid(margin-top, 30px, 100px);
  @include fluid(margin-bottom, 30px, 100px);
  margin-left: 15px;
  margin-right: 15px;

  .container {
    width: 100%;
  }

  &__wrapper {
    position: relative;
    @include fluid(max-width, 942px, 1660px);
    @include fluid(padding-top, 41px, 63px);
    @include fluid(padding-left, 23px, 55px);
    @include fluid(padding-right, 23px, 45px);
    @include fluid(padding-bottom, 27px, 68px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #FFF4D5;
    overflow: hidden;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @include fluid(margin-bottom, 30px, 44px);

    &-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    .btn {
      @include fluid(font-size, 16px, 20px);
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 20px 20px 30px;

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #D9BA5B;
      }

      .reviews__item-name {

        &::before,
        &::after {
          content: '';
          position: absolute;
          right: 8px;
          width: 5px;
          height: 5px;
          background-color: #D9BA5B;
          border-radius: 50%;
        }

        &::after {
          top: 0;
        }

        &::before {
          bottom: 0;
        }
      }
    }

    &-name {
      font-weight: 700;
      @include fluid(font-size, 20px, 26px);
    }

    &-text {
      line-height: 22px;
      @include fluid(font-size, 20px, 22px);
    }

    &-date {
      display: block;
      color: #A4A4A4;
      font-size: 16px;
      @include fluid(font-size, 16px, 18px);
    }
  }
}

@media(max-width: 992px) {
  .reviews {
    &__top {
      align-items: start;
      flex-direction: column;
    }

    &__title {
      br {
        display: none;
      }
    }

    &__inner {
      grid-template-columns: 1fr;
    }

    &__item {
      padding-top: 30px;
      padding-bottom: 30px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #D9BA5B;
      }

      &:not(:last-child) {
        &::after {
          right: unset;
          left: 0;
          width: 100%;
          height: 1px;
        }

        .reviews__item-name {
          &::after {
            top: -2px;
            right: 0;
          }
        }
      }

      .reviews__item-name {

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: -2px;
          bottom: unset;
          width: 5px;
          height: 5px;
          background-color: #D9BA5B;
          border-radius: 50%;
        }

        &::before {
          left: 0;

        }

        &::after {
          left: unset;
          right: 0;
        }
      }

      &-name {
        min-height: unset;
      }
    }
  }
}

@media(max-width: 576px) {
  .reviews {
    position: relative;

    &__wrapper {
      padding-bottom: 113px;
    }

    &__top {
      .btn:last-child {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 86%;
        padding: 15px 30px;
      }
    }
  }
}