.search {
  width: 132px;

  &--price {
    width: 100%;

    .search {
        &__input {
            padding: 14px 20px 10px;
            border: 1px solid rgba(152, 152, 152, .62);
            border-radius: 8px;
        }

        &__icon {
            top: 60%;
            right: 16px;
        }
    }
  }

  &__label {
    position: relative;
    cursor: pointer;

    &:hover,
    &:focus-within {

      .search {
        &__input {
          border-color: #2A275F;
          color: #2A275F;

          &::-webkit-input-placeholder {
            color: #2A275F;
          }

          &::-moz-placeholder {
            color: #2A275F;
          }

          &:-ms-input-placeholder {
            color: #2A275F;
          }

          &::-ms-input-placeholder {
            color: #2A275F;
          }

          &::placeholder {
            color: #2A275F;
          }
        }

        &__icon {
          svg {

            circle,
            path {
              stroke: #2A275F;
            }
          }
        }
      }
    }
  }

  &__input {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(152, 152, 152, .62);
    @include fluid(font-size, 14px, 16px);
    background-color: transparent;
    transition: border-color 0.23s ease-in-out, color .23s ease-in-out;

    &::-webkit-input-placeholder {
      color: rgba(152, 152, 152, .62);
      -webkit-transition: color .23s ease-in-out;
      transition: color .23s ease-in-out;
    }

    &::-moz-placeholder {
      color: rgba(152, 152, 152, .62);
      -moz-transition: color .23s ease-in-out;
      transition: color .23s ease-in-out;
    }

    &:-ms-input-placeholder {
      color: rgba(152, 152, 152, .62);
      -ms-transition: color .23s ease-in-out;
      transition: color .23s ease-in-out;
    }

    &::-ms-input-placeholder {
      color: rgba(152, 152, 152, .62);
      -ms-transition: color .23s ease-in-out;
      transition: color .23s ease-in-out;
    }

    &::placeholder {
      color: rgba(152, 152, 152, .62);
      transition: color .23s ease-in-out;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;

    svg {
      @include fluid(width, 14px, 18px);
      @include fluid(height, 14px, 18px);

      circle,
      path {
        transition: stroke 0.23s ease-in-out;
      }
    }
  }
}