.tab {
	&__info {
		display: none;
		opacity: 0;
		transition: opacity 0.23s ease-in-out;

		&--active {
			display: block;
		}

		&--opacity {
			opacity: 1;
		}
	}
}

.tabBooking {
	&__target {
		transition: background-color 0.23s ease-in-out;
        cursor: pointer;
	}

	&__info {
		display: none;
		opacity: 0;
		transition: opacity 0.23s ease-in-out;

		&--active {
			display: block;
		}

		&--opacity {
			opacity: 1;
		}
	}
}